<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <form novalidate
          #searchForm="ngForm">

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieTitle">Movie Title</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputMovieTitle"
                 type="text"
                 name="title"
                 ngModel />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieDirector">Director</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputMovieDirector"
                 type="text"
                 name="director"
                 ngModel />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputStarRating">Min Star Rating (1-5)</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputStarRating"
                 type="number"
                 name="minStarRating"
                 ngModel />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputStarRating">Max Star Rating (1-5)</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputStarRating"
                 type="number"
                 name="maxStarRating"
                 ngModel />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieDescription">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="inputMovieDescription"
                    rows=3
                    name="description"
                    ngModel></textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary"
                  type="button"
                  style="width:80px;margin-right:10px"
                  (click)="search(searchForm.value)">
            Search
          </button>
        </div>
      </div>

    </form>
  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>