<div class="card"
     *ngIf="movie">
  <div class="card-header">
    {{ pageTitle + ": " + movie.title }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Description: </div>
      <div class="col-md-10">{{ movie.description }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Director: </div>
      <div class="col-md-10">{{ movie.director }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Release Date: </div>
      <div class="col-md-10">{{ movie.releaseDate | date}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">MPAA Film Rating: </div>
      <div class="col-md-10">{{ movie.mpaa | uppercase}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Category: </div>
      <div class="col-md-10">{{ movie.category }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Tags:</div>
      <div class="col-md-10">{{movie.tags}}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Star Rating: </div>
      <div class="col-md-10">
        <mh-star [rating]="movie.starRating"></mh-star>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">Audience Approval: </div>
      <div class="col-md-10">{{ movie.approvalRating | percent:'1.0-0' }}</div>
    </div>
    <div class="row">
      <div class="col-md-2">Average DVD Price: </div>
      <div class="col-md-10">{{ movie.price | currency:'USD':'symbol' }}</div>
    </div>


    <div class="row mt-4">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary mr-3"
                style="width:80px"
                (click)="onBack()">
          <i class="fa fa-chevron-left"></i> Back
        </button>
        <button class="btn btn-outline-primary mr-3"
                style="width:80px"
                [routerLink]="['/movies', movie.id, 'edit']">
          Edit
        </button>
        <button class="btn btn-outline-primary"
                [routerLink]="['/movies', movie.id, 'editReactive']">
          Edit Reactive
        </button>
      </div>
    </div>

  </div>

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>