<div class="card-body">
  <form novalidate
        #movieForm="ngForm">
    <fieldset>
      <legend>Basic Movie Information</legend>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieTitle">Movie Title</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputMovieTitle"
                 type="text"
                 placeholder="Title (required)"
                 required
                 minlength="3"
                 maxlength="50"
                 [(ngModel)]="movie.title"
                 name="title"
                 #titleVar="ngModel"
                 [ngClass]="{'is-invalid': (titleVar.touched || titleVar.dirty) && !titleVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="titleVar.errors?.required">
              Please enter a movie title.
            </span>
            <span *ngIf="titleVar.errors?.minlength">
              The movie title must be at least 3 characters.
            </span>
            <span *ngIf="titleVar.errors?.maxlength">
              The movie title cannot exceed 50 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieDirector">Director</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputMovieDirector"
                 type="text"
                 placeholder="Director (required)"
                 required
                 minlength="5"
                 maxlength="50"
                 [(ngModel)]="movie.director"
                 name="director"
                 #directorVar="ngModel"
                 [ngClass]="{'is-invalid': (directorVar.touched || directorVar.dirty) && !directorVar.valid }" />
          <span class="invalid-feedback">
            <span *ngIf="directorVar.errors?.required">
              Please enter the director's name.
            </span>
            <span *ngIf="directorVar.errors?.minlength">
              The name must be at least 5 characters.
            </span>
            <span *ngIf="directorVar.errors?.maxlength">
              The name cannot exceed 50 characters.
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputStarRating">Star Rating (1-5)</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="inputStarRating"
                 type="text"
                 placeholder="Rating"
                 mhRange="1,5"
                 [(ngModel)]="movie.starRating"
                 name="starRating"
                 #starRatingVar="ngModel"
                 [ngClass]="{'is-invalid': (starRatingVar.touched || starRatingVar.dirty) && !starRatingVar.valid}" />
          <span class="invalid-feedback">
            <span *ngIf="starRatingVar.errors?.range">
              Rate the movie between 1 (lowest) and 5 (highest).
            </span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-2 col-form-label"
               for="inputMovieDescription">Description</label>
        <div class="col-md-8">
          <textarea class="form-control"
                    id="inputMovieDescription"
                    placeholder="Description"
                    rows=3
                    [(ngModel)]="movie.description"
                    name="description"></textarea>
        </div>
      </div>

      <div class="alert alert-danger"
           *ngIf="errorMessage">{{errorMessage}}
      </div>
    </fieldset>
  </form>
</div>