<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="wizard">
      <a [routerLink]="['info']"
         routerLinkActive="active">
        Basic Information
        <span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span>
      </a>
      <a [routerLink]="['tags']"
         routerLinkActive="active">
        Search Tags
        <span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span>
      </a>
    </div>

    <router-outlet></router-outlet>

    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary mr-3"
                type="button"
                style="width:80px"
                [disabled]="!isValid()"
                (click)="saveMovie()">
          Save
        </button>
        <button class="btn btn-outline-secondary mr-3"
                type="button"
                style="width:80px"
                [routerLink]="['/movies']">
          Cancel
        </button>
        <button class="btn btn-outline-warning"
                type="button"
                style="width:80px"
                (click)="deleteMovie()">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>